{:paths ["src/clj" "target/classes"]

 :deps
 {metosin/jsonista {:mvn/version "0.3.7"}}

 :aliases
 {:build
  {:deps {org.clojure/tools.build {:mvn/version "0.9.2"}}
   :ns-default build}}

 :deps/prep-lib
 {:alias :build
  :fn compile
  :ensure "target/classes"}}
